.onex-grids {
    width: 100%;
    height: 100%;
    display: block;
    clear: both;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.onex-grid {
    width: 15.66%;
    height: 150px;
    background-color: transparent;
    border: solid 1px #dddddd;
    border-radius: 10px;
}

.button-normal {
    background-color: blue;
}

.button-median {
    background-color: green;
}

.button-large {
    background-color: red;
}

.grid-button {
    border: solid 1px #dddddd; 
    width: 33%;
    height: 100px;
    float: left;
    border-radius: 10px;
}