<!--
<div dnd-draggable [dragEnabled]="true" dnd-droppable (onDropSuccess)="drop($event)" style='background-color: blue; width: 200px; height: 200px;'>
	<span>draggable</span>
</div>

<div style='background-color: white; width: 200px; height: 200px;'>
	<span>non draggable nor droppable</span>
</div>

<div dnd-draggable [dragEnabled]="true" dnd-droppable (onDropSuccess)="drop($event)" style='background-color: blue; width: 200px; height: 200px;'>
	<span>draggable</span>
</div>

<div  style='background-color: white; width: 200px; height: 200px;'>
	<span>non draggable nor droppable</span>
</div>

<div dnd-droppable (onDropSuccess)="drop($event)" style='background-color: red; width: 200px; height: 200px;'>
	<span>droppable</span>
</div>
-->

<div dnd-draggable [dragEnabled]="true" style='background-color: blue; width: 200px; height: 200px;'>
	<span>draggable</span>
</div>

<div style='background-color: white; width: 200px; height: 200px;'>
	<span>non draggable nor droppable</span>
</div>

<div dnd-draggable [dragEnabled]="true" style='background-color: blue; width: 200px; height: 200px;'>
	<span>draggable</span>
</div>

<div  style='background-color: white; width: 200px; height: 200px;'>
	<span>non draggable nor droppable</span>
</div>

<div dnd-droppable (onDropSuccess)="drop($event)" style='background-color: red; width: 200px; height: 200px;'>
	<span>droppable</span>
</div>
