<div class='onex-grids'>
    <div dnd-droppable (onDropSuccess)="drop($event)" style='background-color: #dddddd' [ngClass]="grid.cssClass" class="onex-grid" *ngFor="let grid of grids; let i = index;">
        <div *ngIf="grid.reserved && grid.isCardStartPoint" dnd-draggable [dragEnabled]="grid.isCardStartPoint" [dragData]="grid" [id]="grid.cardIndex">
            <app-card [card]="layoutService.getCard(grid, cards)"></app-card>                                
        </div>
    </div>
</div>

<div style='margin-top: 20px;'>
    <div style='position: relative; left: 50%; transform: translateX(-50%); margin-bottom: 10px; width: 250px;'><input type='button' value='Add normal card' (click)="addNormal()" style='width: 200px; height: 40px; border: solid 1px #dddddd' /></div>
    <div style='position: relative; left: 50%; transform: translateX(-50%); margin-bottom: 10px; width: 250px; '><input type='button' value='Add midian card' (click)="addMedian()" style='width: 200px; height: 40px; border: solid 1px #dddddd' /></div>
    <div style='position: relative; left: 50%; transform: translateX(-50%); margin-bottom: 10px; width: 250px;'><input type='button' value='Add large card' (click)="addLarge()" style='width: 200px; height: 40px; border: solid 1px #dddddd' /></div>
    <div style='position: relative; left: 50%; transform: translateX(-50%); margin-bottom: 10px; width: 250px;'><input type='button' value='Reload' (click)="(swap())" style='width: 200px; height: 40px; border: solid 1px #dddddd' /></div>    
</div>  